 <div class="main-specoffers">
    <ul id="mycarousel" class="bxslider">
        <li>
            <div class="mycarousel-item">
                <div class="mycarousel-item-text">
                    <div class="mycarousel-item-title">Apple iPad 2 64Gb Wi-Fi + 1</div>
                    <div class="mycarousel-item-description">Два мощных ядра в одном процессоре A5 позволяют iPad выполнять в два раза больше работы за то же время. Вы, несомненно, заметите разницу, когда будете выходить в Интернет, смотреть фильмы, делать видеозвонки FaceTime, играть и переключаться между приложениями. Функция многозадачности работает плавнее, приложения загружаются быстрее — всё работает ещё лучше.</div>
                    <div class="mycarousel-item-price">Цена: <span>5 000</span> руб.</div>
                </div>
                <div class="mycarousel-item-photos">
                    <div class="mycarousel-item-photo"><img style="width: 500px; height: 250px;" src="images/1.jpg" alt="" /></div>
                </div>
                <div class="clear"></div>
            </div>
        </li>
        <li>
            <div class="mycarousel-item">
                <div class="mycarousel-item-text">
                    <div class="mycarousel-item-title">Apple iPad 2 64Gb Wi-Fi + 1</div>
                    <div class="mycarousel-item-description">Два мощных ядра в одном процессоре A5 позволяют iPad выполнять в два раза больше работы за то же время. Вы, несомненно, заметите разницу, когда будете выходить в Интернет, смотреть фильмы, делать видеозвонки FaceTime, играть и переключаться между приложениями. Функция многозадачности работает плавнее, приложения загружаются быстрее — всё работает ещё лучше.</div>
                    <div class="mycarousel-item-price">Цена: <span>5 000</span> руб.</div>
                </div>
                <div class="mycarousel-item-photos">
                    <div class="mycarousel-item-photo"><img style="width: 500px; height: 250px;" src="images/1.jpg" alt="" /></div>
                </div>
                <div class="clear"></div>
            </div>
        </li>
        <li>
            <div class="mycarousel-item">
                <div class="mycarousel-item-text">
                    <div class="mycarousel-item-title">Apple iPad 2 64Gb Wi-Fi + 1</div>
                    <div class="mycarousel-item-description">Два мощных ядра в одном процессоре A5 позволяют iPad выполнять в два раза больше работы за то же время. Вы, несомненно, заметите разницу, когда будете выходить в Интернет, смотреть фильмы, делать видеозвонки FaceTime, играть и переключаться между приложениями. Функция многозадачности работает плавнее, приложения загружаются быстрее — всё работает ещё лучше.</div>
                    <div class="mycarousel-item-price">Цена: <span>5 000</span> руб.</div>
                </div>
                <div class="mycarousel-item-photos">
                    <div class="mycarousel-item-photo"><img style="width: 500px; height: 250px;" src="images/1.jpg" alt="" /></div>
                </div>
                <div class="clear"></div>
            </div>
        </li>
        <li>
            <div class="mycarousel-item">
                <div class="mycarousel-item-text">
                    <div class="mycarousel-item-title">Apple iPad 2 64Gb Wi-Fi + 1</div>
                    <div class="mycarousel-item-description">Два мощных ядра в одном процессоре A5 позволяют iPad выполнять в два раза больше работы за то же время. Вы, несомненно, заметите разницу, когда будете выходить в Интернет, смотреть фильмы, делать видеозвонки FaceTime, играть и переключаться между приложениями. Функция многозадачности работает плавнее, приложения загружаются быстрее — всё работает ещё лучше.</div>
                    <div class="mycarousel-item-price">Цена: <span>5 000</span> руб.</div>
                </div>
                <div class="mycarousel-item-photos">
                    <div class="mycarousel-item-photo"><img style="width: 500px; height: 250px;" src="images/1.jpg" alt="" /></div>
                </div>
                <div class="clear"></div>
            </div>
        </li>
        <li>
            <div class="mycarousel-item">
                <div class="mycarousel-item-text">
                    <div class="mycarousel-item-title">Apple iPad 2 64Gb Wi-Fi + 1</div>
                    <div class="mycarousel-item-description">Два мощных ядра в одном процессоре A5 позволяют iPad выполнять в два раза больше работы за то же время. Вы, несомненно, заметите разницу, когда будете выходить в Интернет, смотреть фильмы, делать видеозвонки FaceTime, играть и переключаться между приложениями. Функция многозадачности работает плавнее, приложения загружаются быстрее — всё работает ещё лучше.</div>
                    <div class="mycarousel-item-price">Цена: <span>5 000</span> руб.</div>
                </div>
                <div class="mycarousel-item-photos">
                    <div class="mycarousel-item-photo"><img style="width: 500px; height: 250px;" src="images/1.jpg" alt="" /></div>
                </div>
                <div class="clear"></div>
            </div>
        </li>
    </ul>
    <div class="clear"></div>
</div>
<div class="types-offers">
    <div class="types-offers-trigger">
    </div>
    <div class="types-offer-list">
        <div class="type-offer-new">
            <div class="type-offer-item">
                <div class="type-offer-item-photo"><a href="/"><img src="images/1.jpg" alt="" /></a></div>
                <div class="type-offer-item-category"><a href="/">Категория</a></div>
                <div class="type-offer-item-title"><a href="/">Sony Tablet S</a></div>
                <div class="type-offer-item-price">15 000 руб.</div>
                <div class="type-offer-basket">В карзину</div>
            </div>
            <div class="type-offer-item">
                <div class="type-offer-item-photo"><a href="/"><img src="images/1.jpg" alt="" /></a></div>
                <div class="type-offer-item-category"><a href="/">Категория</a></div>
                <div class="type-offer-item-title"><a href="/">Sony Tablet S</a></div>
                <div class="type-offer-item-price">15 000 руб.</div>
                <div class="type-offer-basket">В карзину</div>
            </div>
            <div class="type-offer-item">
                <div class="type-offer-item-photo"><a href="/"><img src="images/1.jpg" alt="" /></a></div>
                <div class="type-offer-item-category"><a href="/">Категория</a></div>
                <div class="type-offer-item-title"><a href="/">Sony Tablet S</a></div>
                <div class="type-offer-item-price">15 000 руб.</div>
                <div class="type-offer-basket">В карзину</div>
            </div>
            <div class="type-offer-item">
                <div class="type-offer-item-photo"><a href="/"><img src="images/1.jpg" alt="" /></a></div>
                <div class="type-offer-item-category"><a href="/">Категория</a></div>
                <div class="type-offer-item-title"><a href="/">Sony Tablet S</a></div>
                <div class="type-offer-item-price">15 000 руб.</div>
                <div class="type-offer-basket">В карзину</div>
            </div>
            <div class="type-offer-item">
                <div class="type-offer-item-photo"><a href="/"><img src="images/1.jpg" alt="" /></a></div>
                <div class="type-offer-item-category"><a href="/">Категория</a></div>
                <div class="type-offer-item-title"><a href="/">Sony Tablet S</a></div>
                <div class="type-offer-item-price">15 000 руб.</div>
                <div class="type-offer-basket">В карзину</div>
            </div>
            <div class="type-offer-item">
                <div class="type-offer-item-photo"><a href="/"><img src="images/1.jpg" alt="" /></a></div>
                <div class="type-offer-item-category"><a href="/">Категория</a></div>
                <div class="type-offer-item-title"><a href="/">Sony Tablet S</a></div>
                <div class="type-offer-item-price">15 000 руб.</div>
                <div class="type-offer-basket">В карзину</div>
            </div>
            <div class="type-offer-item">
                <div class="type-offer-item-photo"><a href="/"><img src="images/1.jpg" alt="" /></a></div>
                <div class="type-offer-item-category"><a href="/">Категория</a></div>
                <div class="type-offer-item-title"><a href="/">Sony Tablet S</a></div>
                <div class="type-offer-item-price">15 000 руб.</div>
                <div class="type-offer-basket">В карзину</div>
            </div>
            <div class="type-offer-item">
                <div class="type-offer-item-photo"><a href="/"><img src="images/1.jpg" alt="" /></a></div>
                <div class="type-offer-item-category"><a href="/">Категория</a></div>
                <div class="type-offer-item-title"><a href="/">Sony Tablet S</a></div>
                <div class="type-offer-item-price">15 000 руб.</div>
                <div class="type-offer-basket">В карзину</div>
            </div>
            <div class="type-offer-item">
                <div class="type-offer-item-photo"><a href="/"><img src="images/1.jpg" alt="" /></a></div>
                <div class="type-offer-item-category"><a href="/">Категория</a></div>
                <div class="type-offer-item-title"><a href="/">Sony Tablet S</a></div>
                <div class="type-offer-item-price">15 000 руб.</div>
                <div class="type-offer-basket">В карзину</div>
            </div>
            <div class="type-offer-item">
                <div class="type-offer-item-photo"><a href="/"><img src="images/1.jpg" alt="" /></a></div>
                <div class="type-offer-item-category"><a href="/">Категория</a></div>
                <div class="type-offer-item-title"><a href="/">Sony Tablet S</a></div>
                <div class="type-offer-item-price">15 000 руб.</div>
                <div class="type-offer-basket">В карзину</div>
            </div>
            <div class="type-offer-item">
                <div class="type-offer-item-photo"><a href="/"><img src="images/1.jpg" alt="" /></a></div>
                <div class="type-offer-item-category"><a href="/">Категория</a></div>
                <div class="type-offer-item-title"><a href="/">Sony Tablet S</a></div>
                <div class="type-offer-item-price">15 000 руб.</div>
                <div class="type-offer-basket">В карзину</div>
            </div>
            <div class="type-offer-item">
                <div class="type-offer-item-photo"><a href="/"><img src="images/1.jpg" alt="" /></a></div>
                <div class="type-offer-item-category"><a href="/">Категория</a></div>
                <div class="type-offer-item-title"><a href="/">Sony Tablet S</a></div>
                <div class="type-offer-item-price">15 000 руб.</div>
                <div class="type-offer-basket">В карзину</div>
            </div>
            <div class="type-offer-item">
                <div class="type-offer-item-photo"><a href="/"><img src="images/1.jpg" alt="" /></a></div>
                <div class="type-offer-item-category"><a href="/">Категория</a></div>
                <div class="type-offer-item-title"><a href="/">Sony Tablet S</a></div>
                <div class="type-offer-item-price">15 000 руб.</div>
                <div class="type-offer-basket">В карзину</div>
            </div>
            <div class="type-offer-item">
                <div class="type-offer-item-photo"><a href="/"><img src="images/1.jpg" alt="" /></a></div>
                <div class="type-offer-item-category"><a href="/">Категория</a></div>
                <div class="type-offer-item-title"><a href="/">Sony Tablet S</a></div>
                <div class="type-offer-item-price">15 000 руб.</div>
                <div class="type-offer-basket">В карзину</div>
            </div>
            <div class="type-offer-item">
                <div class="type-offer-item-photo"><a href="/"><img src="images/1.jpg" alt="" /></a></div>
                <div class="type-offer-item-category"><a href="/">Категория</a></div>
                <div class="type-offer-item-title"><a href="/">Sony Tablet S</a></div>
                <div class="type-offer-item-price">15 000 руб.</div>
                <div class="type-offer-basket">В карзину</div>
            </div>
            <div class="type-offer-item">
                <div class="type-offer-item-photo"><a href="/"><img src="images/1.jpg" alt="" /></a></div>
                <div class="type-offer-item-category"><a href="/">Категория</a></div>
                <div class="type-offer-item-title"><a href="/">Sony Tablet S</a></div>
                <div class="type-offer-item-price">15 000 руб.</div>
                <div class="type-offer-basket">В карзину</div>
            </div>
            <div class="type-offer-item">
                <div class="type-offer-item-photo"><a href="/"><img src="images/1.jpg" alt="" /></a></div>
                <div class="type-offer-item-category"><a href="/">Категория</a></div>
                <div class="type-offer-item-title"><a href="/">Sony Tablet S</a></div>
                <div class="type-offer-item-price">15 000 руб.</div>
                <div class="type-offer-basket">В карзину</div>
            </div>
        </div>
    </div>
</div>
