 <div class="footer">
    <div class="footer-top">
    </div>
    <div class="footer-body">
        <div class="footer-cop">
            <p><span>2013 © Red Jam</span></p>
            <p>Интернет-магазин цифровой и бытовой техники</p>
        </div>
        <div class="footer-phone">
            <div class="phone">+7 (123) 123 12 12</div>
            <div class="worktime">
                <div class="worktime-line">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div class="weekend"></div>
                    <div class="weekend"></div>
                </div>
                <p>по будням c<br> 9:00 до 20:00</p>
            </div>
        </div>
        <div class="footer-menu">
            <div class="footer-menu-category">
                <div class="footer-menu-category-block">
                    <p class="footer-menu-category-title">Must Have</p>
                    <p><a href="/">Презервативы</a></p>
                    <p><a href="/">Смазка</a></p>
                </div>
                <div class="footer-menu-category-block">
                    <p class="footer-menu-category-title">Стимуляторы</p>
                    <p><a href="/">Вибраторы</a></p>
                    <p><a href="/">Стимуляторы точки G</a></p>
                </div>
            </div>
            <div class="footer-menu-category">
                <div class="footer-menu-category-block">
                    <p class="footer-menu-category-title">Секс-игрушки</p>
                    <p><a href="/">Страпоны</a></p>
                    <p><a href="/">Фаллоимитаторы</a></p>
                    <p><a href="/">Анальный секс</a></p>
                    <p><a href="/">Шарики и нитки для киски</a></p>
                </div>
                <div class="footer-menu-category-block">
                    <p class="footer-menu-category-title">Наборы для пар</p>
                </div>
            </div>
             <div class="footer-menu-category">
                <div class="footer-menu-category-block">
                    <p class="footer-menu-category-title">Аксессуары и БДСМ</p>
                </div>
                <div class="footer-menu-category-block">
                    <p class="footer-menu-category-title">Нижнее белье</p>
                </div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>
