 <div class="top-navigation">
    <div class="top-navigation-content">
        <div class="auth-wrap">
            <p><a href="/">Авторизироваться</a>&nbsp;или&nbsp;<a href="/">Зарегистрироваться</a></p>
        </div>
        <div class="top-menu-wrap">
            <p><a href="/">Главная</a><a href="/">Главная</a><a href="/">Главная</a><a href="/">Главная</a><a href="/">Главная</a><a href="/">Главная</a></p>
        </div>
        <div class="clear"></div>
    </div>
</div>
<div class="header">
    <div class="logo"><a href="/"><img src="images/logo.png" src="" /></a></div>
    <div class="search-wrap">
        <div class="phone">+7 (123) 123 12 12</div>
        <div class="worktime">
            <div class="worktime-line">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div class="weekend"></div>
                <div class="weekend"></div>
            </div>
            <p>по будням c<br /> 9:00 до 20:00</p>
        </div>
        <div class="search">
            <input type="text" id="search-input" />
        </div>
    </div>
    <div class="basket">
        <p><span>В корзине</span> <b>0</b> товаров</p>
        <p>на сумму <b>0</b> рублей</p>
    </div>
    <div class="clear"></div>
</div>
