 <div class="main-menu">
    <div class="main-menu-navigator">
        <ul>
            <li><a href="/">Must Have</a></li>
            <li><a href="/">Стимуляторы</a></li>
            <li><a href="/">Секс-игрушки</a></li>
            <li><a href="/">Наборы для пар</a></li>
            <li><a href="/">Аксессуары и БДСМ</a></li>
            <li><a href="/">Нижнее белье</a></li>
        </ul>
        <div class="clear"></div>
    </div>
</div>
<div class="clear"></div>
