<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="robots" content="index, follow">
    <link type="text/css" rel="stylesheet" href="stylesheets/reset.css" />
    <link type="text/css" rel="stylesheet" href="stylesheets/main.css" />
    <script src="javascripts/jquery.1.10.2.js"></script>
    <script type="text/javascript" src="javascripts/jquery.bxslider.min.js"></script>
    <link rel="stylesheet" type="text/css" href="stylesheets/jquery.bxslider.css" />
    <title>red-jam - интернет магазин для взрослых</title>
</head>
<body>
  <div id="container">
    <%= render 'layouts/header' %>

    <%= render 'layouts/main_menu' %>

    <div class="main">
      <%= yield %>
    </div>

    <%= render 'layouts/footer' %>
</div>
<script type="text/javascript">
$(document).ready(function(){
    $('.bxslider').bxSlider();
});
</script>
</body>
</html>
